@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  font-size: 20px;
  opacity: 0;
}

.slide.active {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.slide.active h3 {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@-webkit-keyframes snowfall {
  0% {
    -webkit-transform: translate3d(var(--left-ini), 0, 0);
            transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--left-end), 110vh, 0);
            transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@keyframes snowfall {
  0% {
    -webkit-transform: translate3d(var(--left-ini), 0, 0);
            transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--left-end), 110vh, 0);
            transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 1vw;
  left: 13vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.snowflake:nth-child(2) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: -6vw;
  left: 41vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: -2vw;
  left: 6vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -4vw;
  left: 89vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(5) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 9vw;
  left: 89vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.snowflake:nth-child(6) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: 9vw;
  left: 12vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(7) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -8vw;
  left: 85vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.snowflake:nth-child(8) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 5vw;
  left: 35vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(9) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -1vw;
  left: 70vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(10) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: -4vw;
  left: 77vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: 6vw;
  left: 46vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: 3vw;
  left: 29vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(13) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 84vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(14) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -4vw;
  left: 53vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.snowflake:nth-child(15) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: 2vw;
  left: 30vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(16) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -5vw;
  left: 50vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(17) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 1vw;
  left: 10vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(18) {
  --size: 1vw;
  --left-ini: 1vw;
  --left-end: 6vw;
  left: 65vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 97vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(20) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -8vw;
  left: 95vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(21) {
  --size: 0.6vw;
  --left-ini: 6vw;
  --left-end: 3vw;
  left: 11vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(22) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 0vw;
  left: 62vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(23) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -1vw;
  left: 34vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.snowflake:nth-child(24) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -8vw;
  left: 48vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.snowflake:nth-child(25) {
  --size: 1vw;
  --left-ini: 1vw;
  --left-end: -3vw;
  left: 71vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 7vw;
  --left-end: 9vw;
  left: 71vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(27) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -9vw;
  left: 30vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(28) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: 9vw;
  left: 83vw;
  -webkit-animation: snowfall 10s linear infinite;
          animation: snowfall 10s linear infinite;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.snowflake:nth-child(29) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: -1vw;
  left: 66vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.snowflake:nth-child(30) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: 9vw;
  left: 54vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(31) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 9vw;
  left: 99vw;
  -webkit-animation: snowfall 13s linear infinite;
          animation: snowfall 13s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 3vw;
  left: 60vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.snowflake:nth-child(33) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: 0vw;
  left: 85vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.snowflake:nth-child(34) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 7vw;
  left: 64vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.snowflake:nth-child(35) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -1vw;
  left: 29vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(36) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 6vw;
  left: 36vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(37) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 75vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.snowflake:nth-child(38) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: -4vw;
  left: 37vw;
  -webkit-animation: snowfall 7s linear infinite;
          animation: snowfall 7s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(39) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -5vw;
  left: 27vw;
  -webkit-animation: snowfall 14s linear infinite;
          animation: snowfall 14s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.snowflake:nth-child(40) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 8vw;
  left: 69vw;
  -webkit-animation: snowfall 15s linear infinite;
          animation: snowfall 15s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.snowflake:nth-child(41) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: 4vw;
  left: 13vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.snowflake:nth-child(42) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 8vw;
  left: 88vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 7vw;
  left: 14vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: 2vw;
  left: 89vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: -4vw;
  left: 64vw;
  -webkit-animation: snowfall 12s linear infinite;
          animation: snowfall 12s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.snowflake:nth-child(46) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 0vw;
  left: 46vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(47) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: 3vw;
  left: 46vw;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.snowflake:nth-child(48) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: 0vw;
  left: 95vw;
  -webkit-animation: snowfall 9s linear infinite;
          animation: snowfall 9s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.snowflake:nth-child(49) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: -5vw;
  left: 24vw;
  -webkit-animation: snowfall 6s linear infinite;
          animation: snowfall 6s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -8vw;
  left: 84vw;
  -webkit-animation: snowfall 11s linear infinite;
          animation: snowfall 11s linear infinite;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.snowflake:nth-child(6n) {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
/*# sourceMappingURL=main.css.map */